//variables for colors
$pink: rgb(255, 62, 121);
$almostBlack: rgb(27, 28, 33);
$grey: rgb(126, 126, 130);
$white: rgb(255, 255, 255);
$turquoise: rgb(217, 255, 245);
$lightGray: (181, 182, 188);
$slideBorder: rgb(234, 234, 234);
$almostWhite: rgb(248, 248, 248);
