.slide-menu {
  padding: 16px;
  @media (min-width: 1120px) {
    padding-left: 32px;
  }
  @media (min-width: 768px) {
    .title {
      padding-left: 24px;
    }
    padding-left: 24px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    scrollbar-width: none !important;
    width: 100%;
    position: relative;
    width: auto;

}
&__list::-webkit-scrollbar {
    display: none;
  }
  &__item {
    padding: 0;
  }
  &__item-btn {
    padding: 0;
    width: 246px;
    height: 40px;
  }
  &__item-act {
    border-radius: 6px;
    border: 2px solid #b8ffec;
  }
  &__list::after {
    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 40px;
    background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0) 100%);
    top: 0;
    right: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
  }
}
