.swiper-prices {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  position: relative;
  margin-top: 50px;
  min-width: 0;
  &__text-container {
    // height: 56px;
    padding: 16px 32px;
    width: 100%;
    background: linear-gradient(90deg, rgb(248, 248, 248), rgb(255, 255, 255) 98.614%);
    border-top: #d9fff5 2px solid;
  }
  &__title {
    margin: 0;
    font-size: 16px;
    color: #7e7e82;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;
  }
  &__repair-services {
    color: rgb(27, 28, 33);
    font-family: TT Lakes;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
    gap: 16px;
    @media (min-width: $breakpoint-md) {
      padding: 16px 24px !important;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: 2.5fr 1fr 1fr 1fr;
      // border: 1px solid #ccc;
      width: 100%;
      height: 100%;
      align-items: center;
      line-height: 1;
    }
    @media (max-width: 767px) {
      .submit-btn {
        position: absolute;
        bottom: 16px;
        right: 16px;
      }
    }
  }
  &__heading-container {
    @media (max-width: 767px) {
      display: none;
    }
    padding-top: 31px;
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
  }
  &__heading {
    display: grid;
    gap: 16px;
    grid-template-columns: 2.5fr 1fr 1fr 1fr;
    color: rgb(126, 126, 130);
    font-family: TT Lakes;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }
  &__information {
    width: 421px;
    @media (max-width: 767px) {
      padding: 0 0 0 16px;
      margin-top: 16px;
    }
    @media (min-width: $breakpoint-md) {
      padding: 0 0 0 24px;
      margin-top: 24px;
    }
    @media (min-width: $breakpoint-xl) {
      padding: 0 0 0 32px;
      margin-top: 32px;
    }
  }
  &__service-disclaimer {
    color: $almostBlack;
    font-family: TT Lakes;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0;
  }
  &__commercial-offer {
    color: $almostBlack;
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin: 0;
    margin-top: 16px;
  }
  &__link {
    color: $almostBlack;
    position: relative;
    display: flex;
    &::after {
      content: '';
      //   position: absolute;
      width: 40px;
      height: 40px;
      background-image: url('/./src/shared/img/btn/ic_more.svg');
      background-repeat: no-repeat;
      right: 0px;
      bottom: 0px;
    }
  }
  &__swiper-slide {
    min-width: 260px !important;
    height: 200px !important;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    @media (max-width: 767px) {
      border: 1px solid $slideBorder;
    }
  }
  &__swiper {
    padding: 0 16px !important;
    @media (max-width: 767px) {
      margin-top: 16px !important;
    }
    @media (min-width: 768px) {
      padding: 0 24px !important;
      margin-top: 16px !important;
    }
    @media (min-width: $breakpoint-xl) {
      padding: 0 32px !important;
    }
    &.-non-slider {
      margin: 0;
      width: 100% !important;
      .swiper-prices__swiper-wrapper {
        display: grid;
        height: auto;
        .swiper-prices__swiper-slide {
          @media (min-width: 768px) {
            display: relative !important;
            width: 100% !important;
            height: auto !important;
            // border-bottom: 1px solid $slideBorder;
            background: rgb(255, 255, 255);
            margin-right: 0 !important;
            // padding: 16px 0;
            //font
            font-family: 'TT Lakes';
            color: $almostBlack;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.2px;
            &::after {
              background-color: $slideBorder;
              bottom: 64px;
              content: '';
              height: 1px;
              left: 2%;
              position: absolute;
              width: 96%;
            }
          }
        }
      }
    }
  }
  &__service-title {
    margin-bottom: 4px;
    color: $grey;
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__pagination-container {
    position: relative;
    display: block;
    height: 52px;
    width: 100%;
    @media (min-width: 768px) {
      display: none;
    }
  }
}
.hidden {
  display: none !important;
}
.swiper-prices__swiper-pagination {
  bottom: 15px !important;
}
