.upper-menu {
  @media (min-width: $breakpoint-xl) {
    display: none;
  }
  display: flex;
  align-items: center;
  padding: 0 16px;
  width: auto;
  height: 88px;
  align-items: center;
  background: #fff;
  justify-content: space-between;
  gap: 16px;
}
.upper-menu__button {
  display: flex;
  align-items: center;
  gap: 9px;
}
@media (min-width: 769px) {
  .upper-menu__call-button {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .upper-menu__mobile-hidden {
    display: none;
  }
  .upper-menu__repair-button {
    margin-left: auto;
  }
}

@media (max-width: 1119px) {
  .upper-menu__vertikal-devider::before {
    content: '';
    display: block;
    height: 32px;
    width: 2px;
    margin: 0 2px;
    background: #eaeaea;
    border-radius: 1px;
  }
}

@media (max-width: 1119px) {
  .upper-menu__tab-hidden {
    display: none;
  }
  .upper-menu__main {
    border-top: #d9fff5 2px solid;
  }
}
// @media (min-width: $breakpoint-xl) {
//   .desktop-float {
//     float: right;
//     background: #f8f8f8;
//   }
// }
.upper-menu__vertikal-devider {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (min-width: $breakpoint-xl) {
  .upper-menu__desktop-hidden {
    display: none;
  }
}
